@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');


/* Set base colours and attributes so is easier for duplicating across pages */
:root {
  /* Colours */
  --colour-black: #000;
  --colour-grey: #f0f0f0;
  --colour-white: #fff;
  --colour-yellow: #ffea64;
  --colour-dark-yellow: #fddd50;
  --colour-red: #e63838;
  --colour-dark-red: #a22929;
  --colour-blue: #1b62b9;
  --colour-dark-blue: #144c90;
  --colour-peach: #fc9;


  /* Font attributes
        - Font family
        - Font sizing
        - Font weighting
                              */

  --font-family: 'Rubik', sans-serif;
  --font-size-h1: 7.5rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.875rem;
  --font-size-h4: 1.375rem;
  --font-size-text: 1.125rem;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --header-text-shadow: -1px -1px 0 var(--colour-black), 0 -1px 0 var(--colour-black), 1px -1px 0 var(--colour-black), -1px  0 0 var(--colour-black), 1px  0 0 var(--colour-black), -1px  1px 0 var(--colour-black), 0  1px 0 var(--colour-black), 1px  1px 0 var(--colour-black), -2px -2px 0 var(--colour-black), -1px -2px 0 var(--colour-black), 0 -2px 0 var(--colour-black), 1px -2px 0 var(--colour-black), 2px -2px 0 var(--colour-black), 2px -1px 0 var(--colour-black), 2px  0 0 var(--colour-black), 2px  1px 0 var(--colour-black), 2px  2px 0 var(--colour-black), 1px  2px 0 var(--colour-black), 0  2px 0 var(--colour-black), -1px  2px 0 var(--colour-black), -2px  2px 0 var(--colour-black), -2px  1px 0 var(--colour-black), -2px  0 0 var(--colour-black), -2px -1px 0 var(--colour-black), -3px -3px 0 var(--colour-black), -2px -3px 0 var(--colour-black), 0 -3px 0 var(--colour-black), 2px -3px 0 var(--colour-black), 3px -3px 0 var(--colour-black), 3px -2px 0 var(--colour-black), 3px  0 0 var(--colour-black), 3px  2px 0 var(--colour-black), 3px  3px 0 var(--colour-black), 2px  3px 0 var(--colour-black), 0  3px 0 var(--colour-black), -2px  3px 0 var(--colour-black), -3px  3px 0 var(--colour-black), -3px  2px 0 var(--colour-black), -3px  0 0 var(--colour-black), -3px -2px 0 var(--colour-black), -3px -3px 0 var(--colour-black), -1px -3px 0 var(--colour-black), 0 -3px 0 var(--colour-black), 1px -3px 0 var(--colour-black), 3px -3px 0 var(--colour-black), 3px -1px 0 var(--colour-black), 3px  0 0 var(--colour-black), 3px  1px 0 var(--colour-black), 3px  3px 0 var(--colour-black), 1px  3px 0 var(--colour-black), 0  3px 0 var(--colour-black), -1px  3px 0 var(--colour-black), -3px  3px 0 var(--colour-black), -3px  1px 0 var(--colour-black), -3px  0 0 var(--colour-black), -3px -1px 0 var(--colour-black), -3px 4px 0 var(--colour-black), 0px 4px 0 var(--colour-black), 3px 4px 0 var(--colour-black), -3px 5px 0 var(--colour-black), 0px 5px 0 var(--colour-black), 3px 5px 0 var(--colour-black), -3px 6px 0 var(--colour-black), 0px 6px 0 var(--colour-black), 3px 6px 0 var(--colour-black), -3px 7px 0 var(--colour-black), 0px 7px 0 var(--colour-black), 3px 7px 0 var(--colour-black), -3px 8px 0 var(--colour-black), 0px 8px 0 var(--colour-black), 3px 8px 0 var(--colour-black), -3px 9px 0 var(--colour-black), 0px 9px 0 var(--colour-black), 3px 9px 0 var(--colour-black), -3px 10px 0 var(--colour-black), 0px 10px 0 var(--colour-black), 3px 10px 0 var(--colour-black), -3px 11px 0 var(--colour-black), 0px 11px 0 var(--colour-black), 3px 11px 0 var(--colour-black), -3px 12px 0 var(--colour-black), 0px 12px 0 var(--colour-black), 3px 12px 0 var(--colour-black), -3px 13px 0 var(--colour-black), 0px 13px 0 var(--colour-black), 3px 13px 0 var(--colour-black), -3px 14px 0 var(--colour-black), 0px 14px 0 var(--colour-black), 3px 14px 0 var(--colour-black), -3px 15px 0 var(--colour-black), 0px 15px 0 var(--colour-black), 3px 15px 0 var(--colour-black), -3px 16px 0 var(--colour-black), 0px 16px 0 var(--colour-black), 3px 16px 0 var(--colour-black), -3px 17px 0 var(--colour-black), 0px 17px 0 var(--colour-black), 3px 17px 0 var(--colour-black), -3px 18px 0 var(--colour-black), 0px 18px 0 var(--colour-black), 3px 18px 0 var(--colour-black);
  --link-text-shadow: -1px -1px 0 var(--colour-black), 0 -1px 0 var(--colour-black), 1px -1px 0 var(--colour-black), -1px  0 0 var(--colour-black), 1px  0 0 var(--colour-black), -1px  1px 0 var(--colour-black), 0  1px 0 var(--colour-black), 1px  1px 0 var(--colour-black), -2px -2px 0 var(--colour-black), -1px -2px 0 var(--colour-black), 0 -2px 0 var(--colour-black), 1px -2px 0 var(--colour-black), 2px -2px 0 var(--colour-black), 2px -1px 0 var(--colour-black), 2px  0 0 var(--colour-black), 2px  1px 0 var(--colour-black), 2px  2px 0 var(--colour-black), 1px  2px 0 var(--colour-black), 0  2px 0 var(--colour-black), -1px  2px 0 var(--colour-black), -2px  2px 0 var(--colour-black), -2px  1px 0 var(--colour-black), -2px  0 0 var(--colour-black), -2px -1px 0 var(--colour-black);
}

/* Box sizing rules - include webkit for accessibility */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin for centering */
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  /* Stop the page from scrolling sideways */
  overflow-x: hidden;
}

/* Now it's time to set the defaults woop */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Images were being a pain so will just make them a bit easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* font inheriting */
input, button, textarea, select {
  font: inherit;
}

body {
  color: var(--colour-black);
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  background-color: var(--colour-yellow);
  background-image: radial-gradient(var(--colour-dark-yellow) 20%, transparent 0), radial-gradient(var(--colour-dark-yellow) 20%, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.125rem;
}

h1, h2, h3, h4 {
  margin-bottom: 0.65;
  font-weight: var(--font-weight-extrabold);
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(4.25rem, 10vw, var(--font-size-h1));
  color: var(--colour-black);
}

.headinglink {
  color: var(--colour-white);
  text-decoration: none;

}
h2,
.profile h4 {
  font-size: var(--font-size-h2);
  font-size: clamp(2.375rem, 5vw, var(--font-size-h2));
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  margin: 1rem 0 1rem;
}

strong {
  font-weight: var(--font-weight-bold);
}

a {
  position: relative;
  color: var(--colour-black);
  font-weight: var(--font-weight-extrabold);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.0875em;
  text-transform: uppercase;
}

blockquote {
  position: relative;
  margin: 1rem 0 2rem;
  padding: 0;
  color: var(--colour-black);
  border: 0.25rem solid var(--colour-black);
  background-color: var(--colour-white);
}

blockquote p {
  position: relative;
  margin-bottom: 0;
  padding: 2.5rem 1rem 1.5rem;
  font-size: var(--font-size-h4);
}

blockquote p strong {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  padding: 0.25em 1em;
  color: var(--colour-white);
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--colour-black);
}

.featprod img {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1.6rem;
}


main h2, #styles h2 {
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: -3.75rem;
  padding: 0.25em 0.5em;
  color: var(--colour-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--colour-black);
  -webkit-transform: skewX(-10deg) rotate(-2deg);
          transform: skewX(-10deg) rotate(-2deg);
          text-align: center;

}


article .box > ul:not(.features) > li + li,
article .box > ol > li + li {
  margin-top: 1rem;
}

article .box * + h2 {
  margin-top: 4rem;
}

/* Nav Bar Section */

nav ul,
article .box,
aside .box {
  -webkit-box-shadow: 0.5rem 0.5rem rgba(132, 81, 61, 0.35);
          box-shadow: 0.5rem 0.5rem rgba(132, 81, 61, 0.35);
}
article .box,
aside .box {
  padding: 1.625rem 1.5rem 2rem;
  border: 0.25rem solid var(--colour-black);
  background-color: var(--colour-white);
}

@media (min-width: 540px) {
  article .box,
  aside .box {
    padding: 1.75rem 2.5rem 2.5rem;
  }
}

header a:not([class^="link"]):hover,
footer a:not([class^="link"]):hover {
  text-decoration-thickness: 0.1875em;
}

main a:not([class^="link"]):hover,
aside a:not([class^="link"]):hover {
  background-color: var(--colour-peach);
}

aside .box {
  display: grid;
  justify-items: center;
}

header,
nav,
article,
aside,
.page-footer {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0.5rem;
}

@media (min-width: 540px) {
  header,
  nav,
  article,
  aside,
  .page-footer {
    padding: 1rem;
  }
}

main {
  padding-top: 6rem;
}

main:focus {
  outline: none;
}

main .box h3 {
  margin-top: 2rem;
}

main article + article, section + section, aside, aside + aside {
  margin-top: 4rem;
}


/* shrink background around h2 boxes and center text */
article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header {
  padding-bottom: 4rem;
  color: var(--colour-black);
  text-align: center;
}

header h1 {
  position: relative;
  margin-bottom: 0;
  padding: 5rem 0 2.5rem;
  color: var(--colour-white);
  font-style: italic;
  letter-spacing: -0.05em;
  text-shadow: var(--header-text-shadow);
  white-space: pre-wrap;
}

@media (min-width: 600px) {
  header h1 {
    padding: 0.1em 0 3.25rem;
  }
}

header h2 {
  max-width: 30ch;
  font-size: clamp(1.875rem, 4vw, var(--font-size-h2));
  font-weight: var(--font-weight-semibold);
  margin: auto auto 0.65em;
}

header p {
  margin-bottom: 2rem;
}


/* navbar */


nav ul {
  margin: 0;
  padding: 0.125rem;
  list-style: none;
  font-size: 0.125rem;
  border: 0.25rem solid var(--colour-black);
  background-color: var(--colour-red);
}

@media (min-width: 540px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav ul li {
  margin: 0.375rem 0.375rem 0.5rem;
  text-align: center;
}

@media (min-width: 540px) {
  nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}

@media (min-width: 600px) {
  nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
}

@media (min-width: 940px) {
  nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

nav ul a {
  position: relative;
  display: block;
  padding: 0.5rem;
  color: var(--colour-white);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  border: 0.1875rem solid var(--colour-red);
  border-radius: 2em;
  text-decoration: none;
}

nav ul a:hover {
  background-color: var(--colour-dark-red);
  border-color: var(--colour-black)
}

nav ul a:focus {
  background-color: var(--colour-dark-red);
}

#about section:nth-child(2) {
  margin-top: 6rem;
}

#about section:nth-child(2) p:nth-of-type(2) {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2rem;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

#about section:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}

#about section:nth-child(2) ul li {
  position: relative;
  margin: 0.25em 0.25em 1em;
  padding: 0.5em 0.75em;
  color: var(--colour-white);
  border-radius: 0.5em;
  background-color: var(--colour-black);
}

#about section:nth-child(2) ul li::before {
  position: absolute;
  content: '';
  left: 0.75em;
  bottom: -0.5em;
  width: 0;
  height: 0;
  border-top: 5px solid var(--colour-black);
  border-left: 15px solid var(--colour-black);
  border-right: 5px solid transparent;
  border-bottom: 10px solid transparent;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

#guidelines .box > a {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 1rem;
}

#contribute section {
  padding-bottom: 0;
  border-bottom: none;
  background-color: var(--colour-white);
}

#contribute section:nth-child(2) {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

#contribute ol {
  position: relative;
  counter-reset: contribute-counter;
  padding-left: 0;
  list-style: none;
}

#contribute ol li {
  position: relative;
  counter-increment: contribute-counter;
  padding-left: 3rem;
}

#contribute ol li::before {
  position: absolute;
  content: counter(contribute-counter);
  top: -0.1875rem;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  color: var(--colour-yellow);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  border-radius: 50%;
  background-color: var(--colour-black);
  text-align: center;
}

#files .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
}

#files .box h3 {
  min-width: 100%;
}

#files .box a {
  font-size: 1.5rem;
}

#files .box a,
.page-footer .box ul li {
  margin: 0.5rem;
}
.page-footer {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.page-footer .box > :last-child {
  margin-bottom: 0;
}

.page-footer p {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-footer p a {
  color: inherit;
}

.page-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}



/* all the cool and vibey buttons */

.link-map span {
  display: block;
  height: 1em;
}

.link-map svg {
  position: relative;
  display: inline-block;
  height: 1em;
  margin-right: 0.375em;
  fill: currentColor;
  stroke: var(--colour-black);
  stroke-width 3px;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  color: var(--colour-white);
  font-size: 1.125rem;
  background-color: var(--colour-blue);
  text-decoration: none;
  overflow: hidden;
}

.skip-link:focus {
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: 0.5em;
  color: var(--colour-grey);
}

.skip-link,
nav ul,
[class^="link"],
.profile .box > a {
  border-radius: 2rem;
  -webkit-box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);
          box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);
}

.skip-link,
nav ul a,
[class^="link"],
.profile .box > a {
  font-size: 1.25rem;
  text-shadow: var(--link-text-shadow);
}

[class^="link"],
.profile .box > a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--colour-white);
  background-color: var(--colour-blue);
}

.skip-link:focus,
[class^="link"],
.profile .box > a {
  padding: 0.875em 1em;
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  border: 0.1875rem solid var(--colour-black);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.skip-link:focus,
[class^="link"]:hover,
[class^="link"]:focus,
.profile .box > a:hover,
.profile .box > a:focus {
  background-color: var(--colour-dark-blue);
}

nav ul a:hover,
nav ul a:focus,
[class^="link"]:hover,
[class^="link"]:focus,
.profile .box > a:hover,
.profile .box > a:focus {
  color: var(--colour-grey);
  -webkit-transform: translate(0, 0.025em);
          transform: translate(0, 0.025em);
  -webkit-box-shadow: inset 0.125em 0.125em var(--colour-black);
          box-shadow: inset 0.125em 0.125em var(--colour-black);
}

.skip-link:focus,
nav ul a:focus,
[class^="link"]:focus,
.profile .box > a:focus {
  border-color: var(--colour-white);
  -webkit-box-shadow: 0 0 0 0.1875rem var(--colour-black);
          box-shadow: 0 0 0 0.1875rem var(--colour-black);
  outline: 2px solid transparent;
  outline-offset: 4px;
}

.sellform {
  margin-left: auto;
  margin-right: auto;
}


.sellform input[type=text], [type=email], textarea{
  width: 100%;
  border-radius: 2rem;
  -webkit-box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);
  box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);

  font-size: 1.25rem;
  text-shadow: var(--link-text-shadow);
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--colour-white);
  background-color: var(--colour-blue);

  padding-left: 2rem;
}
.sellform input {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.sellform textarea {
  resize: none;
  padding-top: 1rem;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* Edge */
  color: var(--colour-white);
  opacity: 20%;
}

input::placeholder, textarea::placeholder {
  color: var(--colour-white);
  opacity: 20%;
}

.accordion {
  background-color: var(--colour-blue);
  color: var(--colour-white);
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
 /* This fun class is to add a darker background when it's clicked on. Activated with javascript. */

 .active, .accordion:hover {
   background-color: var(--colour-dark-blue)
 }

 /* Style the accordion panel, which is hidden by default */

 .panel {
   padding: 0 18px;
   background-color: var(--colour-white);
   display: none;
   overflow: hidden;
 }

.accordiondiv {
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}


.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;

}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.cart {
  padding: 5px 20px 15px 20px;
}

input[type=text] {
  width: 100%;
  border-radius: 2rem;
  -webkit-box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);
  box-shadow: inset 0.1875rem 0.1875rem var(--colour-white), inset -0.1875rem -0.1875rem var(--colour-black);

  font-size: 1.25rem;
  text-shadow: var(--link-text-shadow);
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--colour-white);
  background-color: var(--colour-blue);

  padding-left: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.accordion:after {
  content: '+'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '-'; /* Unicode character for "minus" sign (-) */
}
